
.navbar{
  background: white !important;
  border: 1px grey solid !important;
  height: 65px;
}

.logo_nav{
  height: 60px;
}

.logo_apps{
  font-size: 25px;
  /*margin-top: 10px;*/
}

.logo_main{
  height: 190px;
  margin-top: 20px;
}

.logo_nombre_main{
  height: 200px;
  margin-top: 12px;
}

.h2{
  font-size: 24px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
  color: #a1a8b5;
}

.boton_sec1{
  background-color: #ff651e;
  border: #ff651e;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
  font-size: 17px;
  margin-top: 30PX;
  margin-bottom: 70px;
}

.sec2{
  background-color: #6310f2 /*#6212ed*/ /*6411f4*/ /*#6611f9*/;
  height: 600px;
}

.h1{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
  font-size: 44px;
  color: white;

}

.h2_sec2{
  font-size: 24px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
  color: #c7bcd1/*bcb2c4*/;
}

.sec3{
  height: 1000px;
  background-color: #f9f9f9;
}

.h1_sec3{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
  font-size: 46px;
  color: black;

}

.img_sec3{
  height: 90px;
}